Package: gradle
Version: 7.0.1-2
Architecture: aarch64
Maintainer: Hilledkinged
Installed-Size: 30000
Depends: base, openjdk-jdk11, aapt2
Section: misc
Priority: optional
Homepage: https://gradle.org/
Description: Gradle is an open-source build automation tool that is designed to be flexible enough to build almost any type of software.

