Package: psf
Version: 0
Architecture: aarch64
Maintainer: ankushbhagatofficial
Installed-Size: 100
Depends: jq, php, curl, clang, git, subversion, python, python2
Section: misc
Priority: optional
Homepage: https://github.com/abhackerofficial/pentesting-framework
Description: Pentesting Framework is a bundle of penetration testing tools, Includes - security, pentesting, hacking and many more
