Package: android-sdk-tools
Version: 7302050-1
Architecture: aarch64
Maintainer: Hilledkinged
Installed-Size: 30000
Depends: base, openjdk-jdk11, android-sdk-build-tools
Section: misc
Priority: optional
Homepage: https://ngrok.com
Description: Android sdk command line tools.

