Package: spigot-server
Version: 1.0.0
Architecture: aarch64
Maintainer: Hilledkinged
Installed-Size: 30000
Depends: base, openjdk-jdk11
Section: misc
Priority: optional
Homepage: https://getbukkit.org/
Description: The most reliable and secure Minecraft server.


