Package: msfpc
Version: 1.0.1
Architecture: aarch64
Maintainer: Hilledkinged
Installed-Size: 1000
Depends: metasploit-framework
Section: misc
Priority: optional
Homepage: https://ngrok.com
Description: NGrok

